*{
    margin: 0;
    padding: 0;


}
h2{
    color: red;
    font-size: 50px;
}
.titulo-body{
    color: blue;
    font-size: 40px;
}
#titulo-section{
    color: green;
}

header{
    background-color: green;
    border-radius: 10px;
}